<div class="container">
    <h1>Tarefas</h1>
    <div class="card">
        <input type="text" #newTask>
        <div class="input-row">
            <select name="" id="" #category>
                @for( category of categories; track category){
                <option value="{{category}}">{{category}}</option>
                }
            </select>
            <button (click)="addTask(newTask.value, category.value)">+ Add</button>
        </div>
    </div>
    <hr>
    @for (category of groupedTasks(); track category.name) {
    @if(category.tasks.length > 0){
    <div class="category">
        <div class="category-row">
            <div class="dot {{category.name.toLowerCase()}}"></div>
            <p>{{category.name}}</p>
            <span class="counter">{{ category.tasks.length}}</span>
        </div>
        @for (task of category.tasks; track task.id) {
        <div class="task-card category">
            <div class="task-first-side">
                <input type="checkbox" name="" id="{{task.titulo}}" (change)="checkTask(task)" [checked]="task.completed">
                <label for="{{task.titulo}}" [class.completed]="task.completed">{{task.titulo}}</label>
            </div>
            <span class="button-close" (click)="removeTask(task)">x</span>
        </div>
        }
    </div>
    }
    }
</div>